mixin nav-links(options, liClass)
    ul(class!=attributes.class)
        each item in options
            li(class=liClass)
                a(href=item[1])= item[0]

mixin arrow-text-bottom(text) 
    .arrow-text(class!=attributes.class) 
        .arrow-text__text
            =text
        .arrow-text__arrow 
            include svg/Arrow.svg

mixin arrow-text-top(text) 
    .arrow-text(class!=attributes.class) 
        .arrow-text__arrow--top 
            include svg/Arrow.svg
        .arrow-text__text
            =text


mixin tab(iconPath, text, className)
    .tab(class=className)
        .tab__wrapper 
            .tab__icon
                img(src=iconPath, alt="")
            .tab__text
                =text 
                .tab__shadow              
            .tab__cross
                button(onclick=`closeTab('${className}')`) 
                    include svg/Cross.svg

mixin company(iconPath)
    .company(class!=attributes.class)  
        img(src=iconPath, alt="")

mixin platformRadio(iconPath) 
    .platform 
        img(src=iconPath, alt="")