mixin nav-links(options, liClass)
    ul(class!=attributes.class)
        each item in options
            li(class=liClass)
                a(href=item[1] data-goto=item[2] class="menu__link")= item[0]

mixin arrow-text-bottom(text) 
    .arrow-text(class!=attributes.class) 
        .arrow-text__text
            =text
        .arrow-text__arrow 
            include svg/Arrow.svg

mixin arrow-text-top(text) 
    .arrow-text(class!=attributes.class) 
        .arrow-text__arrow--top 
            include svg/Arrow.svg
        .arrow-text__text
            =text


mixin tab(iconPath, text, className)
    .tab(class=className onclick=`closeTab('${className}')`)
        .tab__wrapper 
            .tab__icon
                img(src=iconPath, alt="")
            .tab__text
                =text 
                .tab__shadow              
            .tab__cross
                button
                    include svg/Cross.svg

mixin company(iconPath)
    .company(class!=attributes.class)  
        img(src=iconPath, alt="")

mixin platformRadio(iconPath) 
    .platform 
        img(src=iconPath, alt="")

mixin pricingOption(name,target,priceArr,plusesArr,BGColor,buttonBGColor)
    .pricing-option(class=BGColor)
        .pricing-option__wrapper
            h3.pricing-option__name=name
            .pricing-option__target 
                =target
            .pricing-option__price 
                span.pricing-option__price-wrap.active
                    span.pricing-option__dollars=`$${priceArr[0]}`  
                    span.pricing-option__per-what  /Month
                span.pricing-option__price-wrap
                    span.pricing-option__dollars=`$${priceArr[1]}`  
                    span.pricing-option__per-what  /Year
    
            ul.pricing-option__pluses 
                - for (let i=0;i<plusesArr.length;i++)
                    li.pricing-option__plus=plusesArr[i]

        button.pricing-option__start-btn(class=buttonBGColor) Start Free Trial



